.page.light {
  /* background */
  --primary-background: #ffffff;
  --light-background: #f8f8f8f8;
  --page-header-background: #ffffff;
  --page-aside-background: #ffffff;

  --primary-text-color: #000000;
  --secondary-text-color: #585858;
  --light-text-background: #adadad;

  --line-color: #e1e3e7;
  --highlight-line-color: #000000;

  --primary-button-background: #000000;
  --outline-button-color: #000000;
}

.page.dark {
  /* background */
  --primary-background: #222222;
  --light-background: #1f1f1f;
  --page-header-background: #222222;
  --page-aside-background: #2e2e2e;

  --primary-text-color: #b1b1b1;
  --secondary-text-color: #585858;
  --light-text-background: #656565;

  --line-color: #383838;
  --highlight-line-color: #555555;

  --primary-button-background: #555555;
  --outline-button-color: #555555;
}